body {
	min-width: 750px;
}
#switcher,.cv-util-bar,.more-details, .text-more-details {
	display: none;
}

.page-break { 
	display:block; page-break-before:always; }
}

.cv-header-photo img {
	margin-left: 75%;
}

.noprint {
	display: none;
}
